<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686d7f">  <td>20/04/27 17:07:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.String)[pri:0, instance:TestModules.Agoda_TestSuite.AgodaTests@9660f4e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@648525677</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/04/27 17:07:48</td>   <td>10067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AgodaTests.AgodaTestsTC_03()[pri:0, instance:TestModules.Agoda_TestSuite.AgodaTests@9660f4e]">AgodaTestsTC_03</td> 
  <td>main@648525677</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/04/27 17:08:20</td>   <td>42052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestModules.Agoda_TestSuite.AgodaTests@9660f4e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@648525677</td>   <td></td> </tr>
</table>
